
#navbar-header{
    display: flex;
}
#navbar-header .row{
    margin-top:20px;
}
.icons-navbar{
    display: flex;
    justify-content: flex-end;
}
.texts-navbar{
    margin-top:10px;
    display: flex;
    justify-content:center;
}
.image-navbar{
    display: flex;
    height: 60px;
}
.fav-icon-navbar{
    font-size: 25px;
}
.container-icons{
    margin-left:20px;
    text-decoration: none;
    color:#707070;
}

.container-texts a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-transform: uppercase;
    color:#707070;
    text-decoration: none;
    margin-left:10px;
}
.container-texts a:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color:#ca3b3a;
}
.container-texts a:before {
    opacity: 0;
    transform: translateY(- 8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.container-texts a:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.container-texts a:hover:before, a:focus:before, a:hover:after, a:focus:after {
    opacity: 1;
    transform: translateY(0);
}
.container-texts a:hover:before, a:focus:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.container-texts a:hover:after, a:focus:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}
@media(max-width:576px){
.hidden-mobile{
    display: none;
}
.image-navbar{
    display: flex;
    justify-content: center;
}
}
/*Image container*/
.container-image{
    margin-top:150px;
}
#main-content .icons{
    font-size:17px;
    letter-spacing:3px;
}

#main-content h1{
    color:#ca3b3a;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    margin-bottom:30px;
}
.container-text{
    margin-top:240px;
    padding-left:240px;
}

.unchecked{
    color:#ca3b3a;  
}
.rate-value{
    color:#ca3b3a;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:20px;
    margin-left:10px;
}
.checked {
    color:#ca3b3a ;
}
.css-button-rounded--grey {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding-top:10px;
    padding-bottom:35px;
    padding-right: 29px;
    padding-left:29px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ca3b3a;
    background: #ca3b3a;
  }
  .css-button-rounded--grey:hover {
    background: #fff;
    color: #495057
  }
  #main-content .text-below-title{
    margin-bottom:15px;
  }
  #main-content .text-below-title{
    font-weight: 900;
    color:#161616;
    font-size: 17px;
  }
  #main-content .stars{
      margin-bottom:15px;
  }
  #main-content .container-text-below-stars{
    margin-bottom:15px;
  }
  .text-below{
    font-weight: bold;
    color:#161616;
    font-size: 17px;
  }
  .last-text{
    color: #707070;
    font-size: 15px; 
  }
  .container-footer-card-left-text{
      margin-bottom:15px;
  }

  .value-text h4{
    color:#161616;
     font-size: 30px;
  }

  .button-add-shop{
      position: relative;
      left:10%;
  }
  @media(max-width:576px){
    .container-text{
        padding-left:50px;
        margin-bottom:30px;
    }
    .value-text{
        position:relative;
        left:3%;
    }
}